@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Lora', serif;
	background: #242424;
	color: #FFF;
	font-size: 20px;
	width: 100%;
	max-width: 960px;
	min-width: 300px;
	margin: 0 auto auto;
	text-align: center;
}

a {
	color: #FFF;
	font-style: italic;
}

nav a {
	color: #AAAAAA;
	font-size: 22px;
	font-style: normal;
	text-decoration: none;
	margin: 5%;
}

a:hover {
	color: #ff9900;
}

header {
	color: #FFF;
	font-size: 360%;
	margin: 2%;
}

#welcomeHeader {
	margin: 2%;
}

#welcomeSubheader {
	font-size: 24px;
}

#welcomeMsg {
	font-size: 16px;
	text-align: left;
	margin: 0 3% 0 3%;
}

#welcomeImg {
	float: left;
	margin-right: 10px;
}

.subheader {
	font-size: 240%;
}

.img {
	height: 140px;
	width: auto;
	margin: 0 5px 0 5px;
}